//- index.pug
doctype html
html
  head
    title Vikas dance academy
    style
      include  ../static/style.css
  body
    nav#navbar
     ul
       div#logo
           img(src="/static/img/logo.png")
           |VDA
       li #[a(href ="/") Home]
       li #[a(href ="/") About]
       li #[a(href ="/") Services]
       li #[a(href ="/") Class info]
       li #[a(href ="/contact") Contact us ]

     section#introSection 
       div Welcome To Dance Academy 
       div.small Eat Sleep Dance Repeat 

     section#missionSection 
       h2 our mission 
       div.card
        h3 Dance perfection
        div.card-box              
            div.card-img
               img(src="/static/img/1.png")
            div.card-content  
                p This is the best dance academy in the universe   
       div.card
        h3  Dance the way u like
        div.card-box              
            div.card-img
               img(src="/static/img/2.png")
            div.card-content  
                 p This is the best dance academy in the universe    
       div.card
        h3 Expert teaching
        div.card-box              
            div.card-img
               img(src="/static/img/3.png")
            div.card-content  
                p This is the best dance academy in the universe 
     section#sponsorsSection 
       h2 our sponsors 
       div#sponsors 
           img(src="/static/img/LOGO.1.png", alt="this is sponosors image",class="spImage")
           img(src="/static/img/LOGO.2.png", alt="this is sponosors image",class="spImage")
           img(src="/static/img/LOGO.3.png", alt="this is sponosors image",class="spImage")
           img(src="/static/img/LOGO.4.png", alt="this is sponosors image",class="spImage")
     footer#footer 
       | Copyright© 2022 vikasdanceacademy.com.All Rights Reserved.
    script
      include  ../static/index.js